
/*-- Use For Custom Styling --*/
#story-bg {
    background-image: url(../img/story.jpg);
}
.test {
    padding: 50px 0px;
    margin-bottom: 0;
}
.feature-fix {
    height: 248px;
}
.story-text {
    color: #000000;
}
@media screen and (min-width: 988px) {
    .side-menu {
        display: none;
    }
    .nav-row {
        margin-right: 0;
    }
}
#btn-more-info {
    font-size: 22px;
    padding: 20px 25px;
}