
/*-- Use For Custom Styling --*/
#story-bg {
    background-image: url(../img/video.jpg);
}
.test {
    padding: 50px 0px;
    margin-bottom: 0;
}
.feature-fix {
    height: 248px;
}
.story-text {
    color: #000000;
}
@media screen and (min-width: 988px) {
    .side-menu {
        display: none;
    }
    .nav-row {
        margin-right: 0;
    }
}
#btn-more-info {
    font-size: 22px;
    padding: 20px 25px;
}
#reviews-bg {
    background-image: url(../img/slider.jpg);
}
.plan-triplepoint {
    text-align: center;
    margin-top: -20px;
    font-size: 20px;
    margin-bottom: 25px;
}
#btn-features {
    margin-top: 50px;
    font-size: 20px;
}
#btn-features:hover {
    background: #000000;
}