@media screen and (min-width: 1133px) {
  .my-navbar {
    display: block !important;
  }
  .my-navbar .navbar-brand {
    display: none;
  }
  .my-navbar {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  }
  #my-navbar-menu {
    width: 1050px;
    margin: 0 auto;
  }
  #my-navbar-menu>div {
    flex: 1;
  }
  #my-navbar-menu>div>div {
    flex: 1;
    justify-content: center;
  }
}

.navbar-item a {
  text-decoration: none;
  color: #474174;
  font-size: 18px;
}
@media screen and (min-width: 300px) {
.columns:not(.is-desktop) {
    display: flex;
  }
}
.table.is-bordered tr:last-child th {
border-bottom-width: 4px !important;
}
@media screen and (max-width: 1087px) {
  .navbar-menu .navbar-item {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 !important;
    overflow: hidden;
}
  .navbar-menu {
  overflow-x: hidden !important;
}

}
@media screen and (min-width: 1087px) {
  .navbar-menu {
    height: 80px;
  }
}


@import "../bulma/sass/utilities/_all";
@import "../bulma/sass/grid/columns";
@import "../bulma/sass/components/navbar";
@import "../bulma/sass/elements/form";
@import "../bulma/sass/elements/table";
@import "../bulma/sass/elements/bulma-checkradio";
$default-blue: rgb(63,	115,	213);
body {
  position: relative;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 3.25rem;
  width: 100%;
  height: 100vh;
  overflow-x:hidden;
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.button {
  text-decoration: none;
  background-color: #eeeeee;
  padding: 10px 20px;
  color: #443c6f;
  border-radius: 7px;
  font-weight: 500;
  transition: 0.5s linear;
}
.button2 {
  @extend .button;
  background-color: #ffe89d;
  color: #4c4c4c;
  padding: 15px 40px;

}
.after-nav {
  padding-top:160px;
  padding-bottom: 160px;
  text-align: center;
  background-image: url('../img/foto3.jpg');
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.header {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}
.label2 {
  color: #fff;
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}
input {
  text-align: center;
  height: 30px;
  padding: 5px;
  border: 1px solid #fefefe;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  outline: none;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 6px;
  width: 27%;
}
#sum {
  min-width: 350px;
}
.lower {
  @extend input;
  width: 100%;

}

@media (max-width: 460px) {
  .lower {
    max-width: 150px;
  }
  .lower.second {
    margin-left: -10px;
  }
  #sum {
    min-width: 300px;
  }
}
.container-2 {
  padding: 60px 0;
  text-align: center;
}
.par {
  padding: 7px;
  color: #525252;
  font-size: 14px;
  letter-spacing: 0.6px;
}
.card {

  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.24);
box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.24);
}
.head1 {
  color: #fff;
  font-size: 25px;
  height: 60px;
  background: #9997B1;
  background-image: url('../img/sellers.png');
  background-image: linear-gradient(rgba(153, 151, 177, 0.6), rgba(153, 151, 177, 0.6)), url('../img/sellers.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.head2 {
  @extend .head1;
  background-image: url('../img/buyers.png');
  background-image: linear-gradient(rgba(153, 151, 177, 0.6), rgba(153, 151, 177, 0.6)), url('../img/buyers.png');
}
.head3 {
  @extend .head1;
  background-image: url('../img/other.png');
  background-image: linear-gradient(rgba(153, 151, 177, 0.6), rgba(153, 151, 177, 0.6)), url('../img/other.png');
}
.header-text {
  padding-left: 60px;
  padding-top: 10px;
}
.header-text2 {
  padding-left: 75px;
  padding-top: 10px;
}
.header-text3 {
  padding-left: 50px;
  padding-top: 10px;
}
@media (max-width: 460px) {
  .head1 {
    font-size: 20px;
  }
  .header-text {
    padding-left: 30px;
  }
  .header-text2 {
    padding-left: 40px;
  }
  .header-text3 {
    padding-left: 30px;
  }
}
.cardText {
  padding: 10px;
  padding-left: 20px;
  padding-right: 40px;
  color: #686868;
  font-size: 13px;
}
.after-nav2 {
  @extend .after-nav;
  padding-top: 50px;
  background-image: url('../img/fonas.png');
}
.product {
  padding: 30px;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  display: block;
  border: #d5d3df;
  background-color: #fff;
  color: #525252;
  border: 5px solid #d5d3df;
  transition: transform 0.5s;
  cursor: pointer;
}
.top {
  color: #0b0146;
  font-size: 25px;
  text-align: center;
}
@media screen and (max-width: 460px) {
.smallerMobile {
  font-size: 22px;
}
}
.price {
  padding: 30px 0;
  color: #0b0146;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}
.cardText2 {
  @extend .cardText;
  color: #525252;
  padding: 5px 20px;
  font-weight: 500;
}
.button3 {
  @extend .button2;
  padding: 20px 20px;
  border-radius: 4px;
}
.question {
  color: #0b0146;
  font-weight: 500;
  font-size: 14px;
  padding: 30px;
}
.after-nav3 {
  @extend .after-nav;
  background-image: url('../img/foto2.jpg');
  padding-top: 70px;
  padding-bottom: 70px;
  background-position: 30% 10%;
}
.text3 {
  font-size: 40px;
  color: #fff;
}
.foto {
  margin-top: 60px;
  background-image: url('../img/foto.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-size: contain;
}
.bottom {
  @extend .par;
  display: block;
  line-height: 4;
  text-align: left;
  overflow-wrap: break-word;
  padding-right: 20px;
  padding-top: 40px;
}
.container-3 {
  background-color: #e0e0e0;
  padding: 40px 40px;
}
@media screen and (max-width: 1089px) {
  .container-3 {
    padding-left: 60px;
  }
}
.footerTxt {
  color: #525252;
  font-weight: 500;
  padding-bottom: 20px;
}
.links {
  color: #525252;
  padding: 5px 0;
}
a {
  text-decoration: none;
}
.links {
  a {
    color: #525252;
  }
}
.footext {
  color: #525252;
  padding: 30px;
  text-align: center;
}
.icon {
  width: 30px;
  margin-bottom: -6px;
  margin-right: 15px;
  margin-left: -25px;
}
.icon2 {
  @extend .icon;
  margin-bottom: -10px;
  margin-left: -15px;
}
.content-wrapper {
    position: relative;
    height: 60px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.ng-modal-number-container {
    margin-top: 40px;
    border-top: 2px solid #0b0146;
    width:400px;
    display:flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.questionNumbers {
    margin-top: -13px;
}

.questionNumberIcon {
    width:20px;
    height:20px;
    border-radius:50%;
    font-size:18px;
    color:#000;
    line-height:20px;
    text-align:center;
    background:#fff;
    border:2px solid #0b0146;
    transition: 0.2s linear;
    cursor: pointer;
 }
 .questionNumberIcon.active {
   background: #0b0146;
 }
 .box {
   display: none;
 }
 input.working {
     transition: color 1s;
     color:#FFF;
 }
 input.show {
     color:#000;
 }
.ripple{
  position: absolute;
  top:0; left:0; bottom:0; right:0;
  overflow: hidden;
  -webkit-transform: translateZ(0); /* to contain zoomed ripple */
  transform: translateZ(0);
  border-radius: inherit; /* inherit from parent (rounded buttons etc) */
  pointer-events: none; /* allow user interaction */
          animation: ripple-shadow 0.4s forwards;
  -webkit-animation: ripple-shadow 0.4s forwards;
}
.rippleWave{
  backface-visibility: hidden;
  position: absolute;
  border-radius: 50%;
  transform: scale(0.7); -webkit-transform: scale(0.7);
  background: rgba(255,255,255, 1);
  opacity: 0.45;
          animation: ripple 2s forwards;
  -webkit-animation: ripple 2s forwards;
}

@keyframes ripple {
  to {transform: scale(24); opacity:0;}
}
@-webkit-keyframes ripple {
  to {-webkit-transform: scale(24); opacity:0;}
}
.nav-item {
  padding: 10px 30px;
  border-radius: 4px;
  transition: 0.5s linear;
  display: block;
}
.nav-item:hover {
  background-color: rgba(0,0,0, 0.1);
}
.button:hover {
  background-color: #ffedb7;
}
.activep {
  border-color: #0a0236;
  transform: scale(1.1);
}
.name {
  color: transparent;
  font-weight: 700;
  padding: 20px 0;
}
.slider {
  cursor: move;
}
.slide {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  transition: transform 1s;
  padding: 50px 0;
    outline: none;
}
.slide:focus {
  transform: scale(1.2);
  color: #0a0236;
  text-shadow: none;
  outline: none;
}
.slick-slide:focus {
  transform: scale(1.2);
  color: #0a0236;
  text-shadow: none;
  outline: none;
}
.current {
  transform: scale(1.2);
  color: #0a0236;
  text-shadow: none;
}
.current {
  .name {
    color: #0a0236;
  }
}
.realpro {
  font-size: 12px;
}
.stars {
  filter: blur(3px);
  width: 100px;
  margin: 0 auto;
  display: block;
  padding-bottom: 20px;
}
@media screen and (max-width: 788px) {
  .slider {
    cursor: auto;
  }
  .slide {
    transform: scale(1.2);
    color: #0a0236;
    text-shadow: none;
    font-size: 12px;
  }
  .current {
    .name {
      color: #0a0236;
    }
  }
  .stars {
    filter: blur(0);
  }
}
.triangle{
border-bottom: 30px solid #25779B;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
float:left;
margin-left:-24px;
position:relative;
top:-10px;
-webkit-transform: rotate(-45deg);}

.triangle > span{
color:#fff;
font-size: 8px;
font-weight:bold;
position:absolute;
right:-12px;
top:15px;}

.logo {
  display: block;
  margin: 0 auto;
  width: 200px;
}
.afterLogo {
  margin-top: 50px;
  text-align: center;
}
.icon {
  margin-left: 10px !important;
  margin-top: 7px;
}
.label {
  color: #000;
  text-align: left;
  margin-top: 10px;
}
.field {
  display: block;
  margin: 0 auto;
  max-width: 600px;
}
.input {
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: left;
}
.select.is-fullwidth {
  min-width: 620px;
}
@media screen and (max-width: 620px) {
  .select.is-fullwidth {
    min-width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .field {
    padding-left: 10px;
    padding-right: 30px;
  }
}

.leftAlign {
  text-align: left;
}
.is-checkradio[type="checkbox"] + label {
  font-size: 13px;
}

.is-checkradio[type="checkbox"].is-block + label::after, .is-checkradio[type="checkbox"].is-block + label:after {
  top: 0.30rem;
}

hr {
  margin-top: 30px;
  margin-bottom: 20px;
  max-width: 620px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(224, 224, 224, 0.75), rgba(0, 0, 0, 0));
}
.button4 {
  margin: 40px 0;
  border: 2px solid $default-blue;
  color: $default-blue;
  background-color: transparent;
  padding: 15px 50px;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: 0.5s ease-in-out;
  border-radius: 3px;
}
.button4:hover {
  color: #fff;
  background-color: $default-blue;
}
input[type="file"] {
  display: block;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
#progress3 { position:relative; background-color: #eeeeee; max-width:400px; padding: 1px; border-radius: 5000px; display: none; margin-top: 20px; }
#bar3 { background-color: #12ce57; width:0%; height:20px; border-radius: 5000px; }
#percent3 { position:absolute; display:inline-block; top:3px; left:48%; color: #fff; }

.ajax {
  margin-top: -370px;
}
.ajax-hidden {
  visibility: hidden;
}
#message3 {
  margin-bottom: 100px;
}
#sklypas, #namo_tipas, #paskirtis, #paskirtis_kom, #talpa, #garazo_tipas {
  display: none;
}
.change {
  text-decoration: underline;
  font-size: 15px;
  padding-left: 20px;
  color: grey;
}
.plans {
  .search-table-outter { overflow-x: scroll; box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3); }
  background-color: #f7f7f7;
  h1, h4 {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    padding: 20px 0;
    letter-spacing: 2px;
    color: rgb(82,	82,	82);
  }
  table {
    overflow-y:scroll;
    border-collapse: collapse;
    border-spacing: 0;
    thead {
      tr {
        th {
          font-family: 'Roboto Condensed', sans-serif;
          padding: 20px 5px;
          padding-top: 30px;
          text-align: center;
          line-height: 2;
          color: $default-blue;
        }
      }
    }
    td {
      text-align: center;
      padding: 20px 0;
    }
    .name {
      padding-top: 30px;
      font-size: 18px;
      color: $default-blue;
      text-shadow: 0 0 1px $default-blue;
    }
    .optimalus {
      border-bottom: 5px solid #00d195;
      box-shadow: 0 4px 8px -4px #00d195;
    }
    .popular {
      border-bottom: 5px solid #127a07;
      box-shadow: 0 4px 8px -4px #127a07;
    }
    .praktik {
      border-bottom: 5px solid #010ec1;
      box-shadow: 0 4px 8px -4px #010ec1;
    }
    .ypatingas {
      border-bottom: 5px solid #9900bc;
      box-shadow: 0 4px 8px -4px #9900bc;
    }
    .komercinis {
      border-bottom: 5px solid black;
      box-shadow: 0 4px 8px -4px black;
    }
    .pasirinkti {
      border: 0;
      font-size: 15px;
      padding: 10px 20px;
      background-color: $default-blue;
      color: #fff;
      border-radius: 50px;
      cursor: pointer;
      -webkit-box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.2);
box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.2);
transition: 0.5s linear;
    }
    .pasirinkti:hover {
      background-color: #3063b5;
    }
    .rowOnMobile {
      display: none;
    }
    @media screen and (max-width: 1024px) {
        .rowOnMobile{
            display: table-row;
            background-color: #f5f5f5;
        }
        .leftAlign, .thOnMobile, .tdOnMobile {
          display: none;
        }
    }
    @media screen and (max-width: 863px) {
        .name {
          font-size: 12px;
          white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
        }
        tfoot tr td {
          font-size: 12px;
        }
    }
  }

  .icon-ok-circled {
    color: #00cc1e;
    text-shadow: 1px 1px 7px rgba(8, 206, 38, 0.6);
    font-size: 18px;
  }
  .icon-cancel-circled {
    font-size: 18px;
    color: rgb(181, 3, 30);
    text-shadow: 1px 1px 7px rgba(181, 3, 30, 0.4);
  }
  .leftAlign {
    text-align: left;
    padding-left: 20px;
  }
}
.container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 100px;
}
.terms {
  .container {
    padding-top: 100px;
    width: 80%;
    margin: 0 auto;
    line-height: 2;
  }
  h1, h4 {
  color: #0b0146;}

  h1 {
  text-align: center;}

  p {
  padding: 0px 0px 0px 25px;
  font-size: 15px;}
}
#slideout {
  position: fixed;
  top: 50%;
  left: 0;
  transition-duration: 0.3s;
  z-index: 99999999999;
}
.slideout {
   background-color: $default-blue;
   color: #fff;
   height: 150px;
   width: 30px;
   writing-mode: tb-rl;
   padding: 10px;
   padding-left: 5px;
   display: flex;
   justify-content: center;
   font-size: 18px;
   z-index: 99999999999;
}
#slideout_inner {
  padding-left: 10px;
  position: fixed;
  width: 250px;
  height: 170px;
  top: 50%;
  left: -261px;
  transition-duration: 0.3s;
  background-color: $default-blue;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #fff;
  z-index: 99999999999;
}
#slideout:hover, #slideout:focus, #slideout:active {
  left: 261px;
}
#slideout:hover #slideout_inner, #slideout:focus #slideout_inner, #slideout:active #slideout_inner {
  left: 0;
}
.icon-phone {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
  writing-mode: tb-rl;
}
.telNr {
  a {
    color: #fff;
  }
}
@media screen and (max-width: 684px) {
  .breakable {
    min-width: 100% !important;
  }
  .column .field {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 700px) {
  .slideout {
    height: 100px;
    width: 15px;
    padding-right: 5px;
    font-size: 14px;
  }
  #slideout_inner  {
    width: 200px;
    height: 120px;
    left: -211px;
  }
  #slideout:hover, #slideout:focus {
    left: 211px;
  }
  .icon-phone {
    font-size: 14px;
  }
}
.apieMus {
  padding: 70px 0;
    font-family: 'Raleway', sans-serif;
    line-height: 1.7;
  #numbers
  {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color: #0b0146;
    color: white;
    font-size: 30px;
    text-align: center;
  }

  .icons
  {
    text-align: center;
    padding: 0;
  }

  p
  {
    text-align: justify;
  }

    @media screen and (max-width: 768px) {
      #large {
        font-size: 0px;
      }
    }

    @media screen and (min-width: 768px) {
      #large {
        font-size: 110px;
      }
    }

  h4
  {
    padding-top: 10px;
  }
  i {
    color: $default-blue;
  }
  .icon-calendar-check-o {
    padding-top: 50px !important;
  }
  .steps3 {
    color: #0b0146; font-size: 40px; padding-bottom:50px;
    text-align: center;
  }
}
.error1 {
  padding: 6px 0;
  text-align: center;
  color: red;
  display: none;
}
