h1.title.has-text-centered.is-size-4 {
    padding-bottom: 5px;
}

.columns {
    padding-top: 100px;
}

.first-c.column {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    font-size: 30px;
    color: #fff;
    line-height: 35px;
    text-align: center;
    background: #46B6C0;
}

svg.svg-inline--fa.fa-calendar-alt.fa-w-14 {
    font-size: 150px;
    margin-top: 60px;
}

.first-t.column.is-three-fifths {
    margin: 25px;
    width: 40%;
}

svg.svg-inline--fa.fa-user-secret.fa-w-14 {
    font-size: 150px;
}

svg.svg-inline--fa.fa-coffee.fa-w-20 {
    font-size: 150px;
    margin-top: 60px;
}

.first-c.second-c.column.is-narrow {
    background: #EC9473;
}

.first-c.third-c.column.is-narrow {
    background: #37BE5A;
}

.h1.title.has-text-centered.is-size-4,
h1.title.is-size-4.has-text-centered {
    color: #0b0146;
}

p.subtitle.has-text-centered {
    padding: 0px 0px 0px 25px;
    font-size: 15px;
}